* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body{
      background-color:#d6ddeb ;
      font-family: 'Montserrat', sans-serif;
  }
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color:white; 
    box-shadow: 1px 1px 5px #ccc;
  }
  
  .title {
    font-size: 40px;
    font-style: oblique;
    font-weight: bolder;
  }
  
  .cta,
  .overlay__content a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    color: #012;
    text-decoration: none;
  }
  
  
  .cta {
    padding: 9px 35px;
    margin-left: 600px;
    margin-right: 20px;
    background-color: #f7f7f7;
    border: none;
    border: solid #d6ddeb;
    cursor: pointer;
    transition: background-color 0.3s ease 0s;
    font-weight: bold;
  }
  
  .cta:hover {
    background-color:#ffff ;
    border: 2px solid rgb(96, 134, 172);
    color: rgb(96, 134, 172);
  }

  .abc,
  .overlay__content a {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-weight: 500;
    color: #012;
    text-decoration: none;
  }
  
  .abc {
    padding: 9px 45px;
    background-color: #f7f7f7;
    border: none;
    border: solid #d6ddeb;
    cursor: pointer;
    transition: background-color 0.3s ease 0s;
    font-weight: bold;
  }
  
  .abc:hover {
    background-color:#ffff ;
    border: 2px solid rgb(96, 134, 172);
    color: rgb(96, 134, 172);
  }
  .form{ 
    padding: 2em;
} 
.sub-title{
  padding-left: 120px;
  font-size: 40px;
  font-style: oblique;
  font-weight: bolder;
}

  .card{
    box-shadow: 1px 1px 5px black;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
  }


  .linguagens{
    color: white;
    position: absolute;
    margin-left: 79%;
    display:inline-block;
    margin-bottom: 50%;
    text-decoration: none;
    padding: 110px 55px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 20px;
    background-color: #f7f7f7;
    border: none;
    border: solid #d6ddeb;
    transition: background-color 0.3s ease 0s;
  }

    .exatas{
      color: #012;
      position: absolute;
      margin-left: 30%;
      display:inline-block;
      margin-bottom: 50%;
      text-decoration: none;
      padding: 110px 80px;
      font-family: 'Open Sans', sans-serif;
      font-weight: bold;
      font-size: 20px;
      background-color: #f7f7f7;
      border: none;
      border: solid #d6ddeb;
      transition: background-color 0.3s ease 0s;
    }
    
    .humanas{
      color: #012;
      position: absolute;
      margin-left: 5%;
      display:inline-block;
      margin-bottom: 50%;
      text-decoration: none;
      padding: 110px 70px;
      font-family: 'Open Sans', sans-serif;
      font-weight: bold;
      font-size: 20px;
      background-color: #f7f7f7;
      border: none;
      border: solid #d6ddeb;
      text-align:end;
      transition: background-color 0.3s ease 0s;
      }

    .biologicas{
        color: #012;
        position: absolute;
        margin-left: 54%;
        display:inline-block;
        position: absolute;
        margin-bottom: 50%;
        text-decoration: none;
        padding: 110px 55px;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        font-size: 20px;
        background-color: #f7f7f7;
        border: none;
        border: solid #d6ddeb;
        transition: background-color 0.3s ease 0s;
        }

        p{
          font-family: 'Open Sans', sans-serif;
          font-weight: bold;
          font-size: 20px;
        }
        .box{
          padding: 2em;
          display: flex;
          justify-content: space-around;
        }

